{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
    	<img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
    	<img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__links" aria-label="Contact links">
    <a class="author__cv-link" href="{{ base_path }}/assets/CV.pdf" aria-label="Curriculum Vitae" title="Curriculum Vitae">
      CV
    </a>
    {% if author.email %}
      <a href="mailto:{{ author.email }}" aria-label="Email" title="Email">
        <i class="fas fa-envelope" aria-hidden="true"></i>
      </a>
    {% endif %}
    {% if author.googlescholar %}
      <a href="{{ author.googlescholar }}" aria-label="Google Scholar" title="Google Scholar">
        <i class="ai ai-google-scholar" aria-hidden="true"></i>
      </a>
    {% endif %}
  </div>
</div>
